
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PİKSEL AKADEMİ ADMİN PANEL </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Abouts")">
            <i class="fas fa-fw fa-table"></i>
            <span>Abouts</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Sliders")">
            <i class="fas fa-fw fa-table"></i>
            <span>Sliders</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Teams")">
            <i class="fas fa-fw fa-table"></i>
            <span>Teams</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Services")">
            <i class="fas fa-fw fa-table"></i>
            <span>Services</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Portfolios")">
            <i class="fas fa-fw fa-table"></i>
            <span>Portfolios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Blogs")">
            <i class="fas fa-fw fa-table"></i>
            <span>Blogs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Tags")">
            <i class="fas fa-fw fa-table"></i>
            <span>Tags</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","TeamDescriptions")">
            <i class="fas fa-fw fa-table"></i>
            <span>TeamDescriptions</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Contacts")">
            <i class="fas fa-fw fa-table"></i>
            <span>Contacts</span>
        </a>
    </li> <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Roles")">
            <i class="fas fa-fw fa-table"></i>
            <span>Roles</span>
        </a>
    </li><li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Users")">
            <i class="fas fa-fw fa-table"></i>
            <span>Users</span>
        </a>
    </li>

</ul>