@model IEnumerable<PA_BlogProject_2021.Models.Abouts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissonDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VissionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VissionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproachTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproachDescriptin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MissonDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VissionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VissionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproachTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproachDescriptin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AboutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AboutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AboutId })
        </td>
    </tr>
}

</table>
